/* ANIMAL AND SPECIE SYSTEM STYLESHEET */

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100vw;
    min-height: 100vh;
    font-size: 1.6rem;
}
:root {
    /* COLOUR */
    --color-primary: rgb(151, 73, 151);
    --color-overlay: #a1a1a1;

    /*FONTS SIZE */

    /*PADDING SIZE */
    --padding-link: 1rem 1.2rem;
    
    /* MARGIN SIDE */
    --margin-side: 1rem;
}

::selection {

}

.container {
    background-image: url("../images/bg-1.jpg");
    background-size: cover;
    background-position: center;
}

.header {
    min-height: 90vh;
    text-align: center;
    
}
.header__span {
    display: block;
    font-weight: normal;
    color: #fff;
}
/* COMPONENTS */
/* ALL HEADINGS */
.heading {

}

/* HEADING H2 */
.heading__h2{
    
}

/* HEADING H3 */
.heading__h3{

}

/* ARTICLE */
.article {

}

/* PARAGRAPH */
.paragraph {

}

/* LINKS */
.link {
    display: inline-block;
    padding: var(--padding-link);
    text-decoration: none;
    text-transform: capitalize;
    /* color:#fff; */
    /* background-color: blue; */
}
/* CAPITALIZE */
.capitalize {
    text-transform: capitalize;
}