/* ANIMAL AND SPECIE SYSTEM STYLESHEET */

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    /* width: 100vw; */
    /* min-height: 100vh; */
    font-size: 1.6rem;
}
:root {
    /* COLOUR */
    --color-primary: rgb(151, 73, 151);
    --color-overlay: #a1a1a1;

    /*FONTS SIZE */

    /*PADDING SIZE */
    --padding-link: 1rem 1.2rem;
    
    /* MARGIN SIDE */
    --margin-side: 1rem;
}

::selection {

}

.container {
    

}

.header {
    min-height: 90vh;
    width: 100%;
    text-align: center;
    background-image: linear-gradient( rgba(200, 200, 200, .7), rgb(58, 58, 185)), url("../images/bg.jpg");
    background-size: cover;
    background-position: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.header__heading {
    font-size: 8rem;
    min-height:50%;
    
}
.header__span {
    display: block;
    font-weight: normal;
    font-size: 5rem;
    color: #fff;
}
/* COMPONENTS */
/* ALL HEADINGS */
.heading {
    text-transform: capitalize;
}

/* HEADING H2 */
.heading__h2{
    
}

/* HEADING H3 */
.heading__h3{

}

/* ARTICLE */
.article {

}

/* PARAGRAPH */
.paragraph {

}

/* LINKS */
.link {
    display: inline-block;
    padding: var(--padding-link);
    text-decoration: none;
    text-transform: capitalize;
    /* color:#fff; */
    /* background-color: blue; */
}
/* CAPITALIZE */
.capitalize {
    text-transform: capitalize;
}
/* MAIN */
.main{
    padding-top: 4rem;
}
.specie {

}
.section__heading {
    text-align: center;
    text-transform: uppercase;
    color: var(--color-primary);
    font-size: 4rem;
}
.section__specie {
    
    justify-content: center;
    /* background-color: red; */
    margin: 0 auto;
    padding: 2rem;

    display: grid;
    grid-template-columns: repeat(4, minmax(10rem, 1fr));
    grid-gap: 2rem;
}

.section__specie > * {
    /* grid-row:  */
}
.specie__div {
    background-color: #ffffff;
    padding: 1rem;
}
.specie__heading {
    margin-top: 3rem;
    color: var(--color-primary);
    text-transform: capitalize;
    font-size: 2.4rem;
    text-align: center;
}
.specie__desc {
    
}

.specie__img-cont{
    width: 100%;
    height: 20rem;
    object-fit: cover;
    margin: 3rem 0;
}

.specie__img {
    width: 100%;
    height: 100%;
}

.specie__par {
    
}
.family__name {
    
}

/* MEDIA QUERY */
@media only screen and (max-width: 900px)